[submodule "market-frontend"]
	path = market-frontend
	url = git@github.com:yushiri/market-order.git
	branch = dev
[submodule "market-backend"]
	path = market-backend
	url = git@github.com:Wilpdrake/market-backend.git
	branch = main
