@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Russo+One&family=IBM+Plex+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";

@variant dark (&:where(.dark, .dark *));

* {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

@layer base {
    button {
        @apply outline-none;
    }

    a {
        @apply text-blue-400 no-underline;
    }
}


/* Sneaker CSS */
::-webkit-scrollbar {
    width: calc(100vw - 99.4vw);
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}

::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
    min-height: 100vh;
}

.sneaker__content-title,
.sneaker__content-description,
.footer__copyright,
.socials-list,
.sneaker-big__title,
.sneaker-big__description,
.sneaker-big__company-info,
.sneaker-big__product-info-title,
.sneaker-big__table {
    font-family: 'Anonymous Pro', monospace;
}

.nav {
    display: flex;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    gap: 24px;
}

.collection-title {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    text-decoration: none;
    color: #121723;
}

.collection {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 24px;
}

.collection__group {
    display: flex;
    align-items: start;
}

.sneaker {
    background: #FFFFFF;
    border-radius: 12px;
    color: #121723;
    height: min-content;
    transition: all 200ms;
}

.sneaker:hover {
    position: relative;
    display: inline-block;
    transform: translateY(-10px);
}

.sneaker__image-wrapper {
    display: flex;
    justify-content: center;
}

.sneaker__image {
    border-radius: 24px;
    width: 351px;
    height: 254px;
}

.sneaker__link {
    text-decoration: none;
}

.sneaker__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 24px;
}

.sneaker__content-title {
    font-weight: 700;
    font-size: 26px;
    color: #121723;
}

.sneaker__content-description {
    font-weight: 400;
    font-size: 21px;
    color: #121723;
}

.footer {
    margin-top: 24px;
    background: #121723;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.footer__socials-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.footer__separator {
    margin: 0;
    width: 100%;
    border: 1px solid rgba(230, 232, 236, 0.4);
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    color: rgba(161, 166, 180, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.sneaker-big {
    display: flex;
    background: #FFFFFF;
    border-radius: 50px;
    margin-top: 32px;
    padding: 48px;
    flex-direction: column;
    gap: 32px;
}

.sneaker-big__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneaker-big__image {
    width: 1044px;
}

.sneaker-big__title {
    display: flex;
    justify-content: start;
    font-size: 48px;
    color: #121723;
}

.sneaker-big__description {
    display: flex;
    justify-content: start;
    font-size: 32px;
    color: #121723;
}

.sneaker-big__info {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(2, auto);
}

.sneaker-big__company-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    font-size: 20px;
    margin-right: 32px;
}

.sneaker-big__product-info {
    min-width: 506px;
}

.sneaker-big__product-info-title {
    display: flex;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: #121723 solid thin;
}

.sneaker-big__table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: #121723 solid thin;
    color: #121723;
    font-size: 20px;
}

@media (max-width: 1180px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 24px;
    }

    .sneaker-big {
        border-radius: 24px;
    }

    .sneaker-big__image {
        width: 700px;
    }

    .sneaker-big__info {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(2, auto);
    }

    .sneaker-big__product-info {
        padding-top: 32px;
    }
}

.header {
    @apply bg-white shadow-sm sticky top-0 z-50;
    @apply dark:bg-black;
}

@media (max-width: 810px) {

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 340px;
    }

    .socials-list {
        display: flex;
        gap: 24px;
        list-style-type: none;
        padding: 0;
        margin: 12px 0;
    }

    .collection-title {
        font-size: 32px;
    }

    .sneaker {
        width: 340px;
    }

    .sneaker__image {
        width: calc(351px - 351px / 8);
        height: calc(254px - 254px / 8);
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 24px;
    }

    .sneaker-big {
        border-radius: 12px;
        padding: 24px;
    }

    .sneaker-big__title {
        font-size: 32px;
    }

    .sneaker-big__description {
        font-size: 20px;
    }

    .sneaker-big__company-info {
        font-size: 16px;
    }

    .sneaker-big__image {
        width: 300px;
    }

    .sneaker-big__product-info {
        min-width: auto;
    }

    .sneaker-big__product-info-title {
        font-size: 24px;
    }

    .sneaker-big__table {
        font-size: 16px;
    }

    .sneaker-big__info {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, auto);
    }
}

/* Custom classes */

.admin-form {
    @apply flex flex-col gap-4 bg-white overflow-hidden rounded-xl w-full;
    @apply dark:bg-gray-800 dark:text-white;
    font-family: Sans, sans-serif;
}

.admin-form-input_group {
    @apply flex gap-4;
}

.admin-form-input {
    @apply w-full flex-1 gap-4;

    label {
        @apply mt-4 block text-sm font-medium text-gray-700 dark:text-gray-300;
    }

    input {
        @apply flex w-full rounded-md border-gray-300 outline-none overflow-hidden border-1 h-10 items-center box-border justify-between text-sm font-medium text-gray-700 px-3;
        @apply dark:border-gray-700 dark:bg-gray-700 dark:text-white dark:text-gray-300 dark:placeholder-gray-400;
    }

    select {
        @apply flex w-full rounded-md border-gray-300 outline-none overflow-hidden border-1 h-10 items-center box-border justify-between text-sm font-medium text-gray-700 px-3;
        @apply dark:border-gray-700 dark:bg-gray-700 dark:text-white dark:text-gray-300 dark:placeholder-gray-400;
    }

    textarea {
        @apply flex w-full rounded-md border-gray-300 outline-none overflow-hidden border-1 h-10 items-center box-border justify-between text-sm font-medium text-gray-700 px-3 py-3;
        @apply dark:border-gray-700 dark:bg-gray-700 dark:text-white dark:text-gray-300 dark:placeholder-gray-400;
        @apply h-36;
        font-family: Sans, sans-serif;
    }
}

.admin-table {
    font-family: Sans, sans-serif;
    @apply border-spacing-0 rounded-xl overflow-hidden min-w-full flex-col;

    thead {
        @apply text-white bg-gray-800 justify-between;
        @apply dark:bg-blue-900 dark:text-white;
    }

    tbody {
        @apply bg-white divide-y divide-gray-200;
        @apply dark:bg-gray-800 dark:text-white;
    }

    tbody tr {
        @apply even:bg-gray-100 bg-white;
        @apply dark:bg-gray-800 dark:text-white dark:even:bg-black/10;
    }
}

.btn-default {
    @apply flex items-center h-10 px-4 bg-white text-black border-none justify-center rounded-lg hover:bg-gray-100 cursor-pointer;
    @apply dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500;
}

.btn-theme {
    @apply flex items-center h-10 w-10 bg-white text-white border-none justify-center rounded-full hover:bg-gray-100 border-none overflow-hidden cursor-pointer;
    @apply dark:hover:bg-gray-800 dark:bg-gray-900;
}

.btn-primary {
    font-family: Sans, sans-serif;
    @apply flex items-center h-10 px-4 bg-blue-500 text-white border-none justify-center rounded-lg hover:bg-blue-600 whitespace-nowrap cursor-pointer;
}

.btn-primary__mobile_add {
    font-family: Sans, sans-serif;
    @apply flex items-center h-5 w-5 p-4 bg-blue-500 text-white border-none justify-center rounded-full hover:bg-blue-600 whitespace-nowrap cursor-pointer;
    @apply m-auto;
    @apply dark:bg-gray-600 dark:text-white;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.btn-red {
    font-family: Sans, sans-serif;
    @apply flex items-center h-10 px-4 bg-red-500 text-white border-none justify-center rounded-lg hover:bg-red-600 whitespace-nowrap cursor-pointer;
}

.btn-orange {
    font-family: Sans, sans-serif;
    @apply flex items-center h-10 px-4 bg-orange-500 text-white border-none justify-center rounded-lg hover:bg-orange-600 whitespace-nowrap cursor-pointer;
}

.search {
    @apply flex items-center my-6;
}

.search__input {
    @apply flex items-center border-0 border-r-1 border-gray-200 outline-none rounded-l-lg h-10 px-4 box-border;
    @apply dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-200 dark:border-gray-900;
}

.search__button {
    @apply flex items-center justify-center w-15 h-10 px-4 rounded-r-lg bg-white text-black border-none justify-center hover:bg-gray-100 text-black fill-current cursor-pointer;
    @apply dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700;
}

.admin-panel_container {
    @apply w-auto mx-[1%];
}

.dropdown-container {
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
}

.navbar-container {
    @apply flex flex-wrap items-center gap-3 flex-1;
}

@media (max-width: 1480px) {
    .admin-panel_container {
        @apply mx-0;
    }

    .admin-table {
        @apply rounded-none;
    }

    .admin-panel_container {
        @apply bg-white;
        @apply dark:bg-gray-800 dark:text-white;
    }

    .search {
        @apply m-0;
    }

    .search__input {
        @apply rounded-none;
    }

    .search__button {
        @apply rounded-none;
    }

    .btn-primary[name="admin__addUserButton"] {
        @apply hidden;
    }

    select[name='navbar-roles-selector'] {
        @apply p-1 h-min;
    }

    .btn-default[name='navbar-adv-search-btn'] {
        @apply rounded-none bg-transparent;
    }

    div[name='navbar-showby-selector'] {
        @apply rounded-none bg-transparent;
    }

    .navbar-container {
        @apply gap-0;
    }

}